
.header-top{
    font-size: .7rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.header-top .drop-down{
    display: flex;
    gap: 2rem;
    align-items: center;
}
.header-top ul{
    display: flex;
    list-style: none;
    gap: 2rem;

}
.header-mid{
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
    padding-bottom: 1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.header-mid-call{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.head-phone-icon{
    font-size: 1.8rem;
}
.header-mid-search{
    display: flex;
    border: 1px solid black;
    align-items: center;
    padding: 0 .5rem;
    height: 2.5rem;
}
.header-mid-search input{
    /* padding: .5rem 1rem; */
    outline: none;
    border: none;
}
.head-input-icon{
    font-size: 1.5rem;
    cursor: pointer;
}
.main-header{
    display: flex;
    /* display: none; */
    margin-top: 2rem;
    margin-bottom: 2rem;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.logo{
    margin-right: 3rem;
    margin-left: 3rem;
    flex-shrink: 0;
}
.header-icons{
    display: flex;
    gap: 1rem;
    margin-left: 18rem;
    font-size: 1rem;
}

.header-mid-checkout{
    display: flex;
    border: 1px solid black;
    align-items: center;
    padding: 0 .5rem;
}
.header-mid-checkout p{
    font-size: .8rem;
}
.verticleDivider{
    height: 1.2rem;
    border: .1px solid #334155;
    margin-left: .5rem;
    margin-right: .5rem;
}
.header-items{
    display: flex;
    list-style: none;
    gap: 3.5rem;
    text-transform: uppercase;
}

.check-out, .search-bar, .hameburgar{
    cursor: pointer;
    font-size: 1.5rem;
}
