
.header-top{
    /* font-size: .7rem; */
    font-size: 12px;
    font-weight: 500;
    padding-top: .6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-gray-line);

}

.header-top .header-dropdown{
    display: flex;
    gap: 1.6rem;
    align-items: center;
    position: relative;
}

.header-top-dropdown-heading {
    position: relative;
    cursor: pointer;
    padding-bottom: .6rem;

}

.dropdown-icon {
    vertical-align: middle;
}

.header-top-dropdown-list {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 1.9rem;
    background-color: white;
    border: 1px solid var(--color-gray-line);
    padding: 0.5rem 1rem;
    min-width: 10rem;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: 0 0 0;
    transition: transform 0.6s ease-in-out;
    z-index: 1000;
}

.header-top-dropdown-heading:hover .header-top-dropdown-list {
    opacity: 1;
    transform: scaleY(1);
}


.header-top-dropdown-list li {
    cursor: pointer;
    padding: 0.6rem 0;
}
.header-top-dropdown-list li:not(:last-child) {
    border-bottom: 1px solid var(--color-gray-line);
}

.header-top-dropdown-list li:hover {
    color: var(--color-red);
    transition: color 0.5s ease;
}




.dropdown-icon{
    font-size: 1.3rem;
    display: inline;
    vertical-align: middle;
}


li{
    list-style-type: none;
    cursor: pointer;
}
.header-top .left-ul{
    display: flex;
    list-style: none;
    gap: 2.2rem;
    padding-bottom: .8rem;
    font-weight: 500;

}
.header-mid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.9rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--color-gray-line);
    font-size: 1rem;
    gap: 2rem;

}
.header-mid-call{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-right: 3rem;
}
.head-phone-icon{
    font-size: 1.8rem;
}
.header-mid-search{
    display: flex;
    border: 1px solid var(--color-gray-line);
    align-items: center;
    padding: 0 .5rem;
    height: 2.5rem;
    margin-right: 4.5rem;

}
.header-mid-search input{
    outline: none;
    border: none;
}
.head-input-icon{
    font-size: 1.2rem;
    cursor: pointer;
}
.main-header{
    display: flex;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.logo{
    margin-right: 4rem;
    flex-shrink: 0;
}

.logo img{
    height: 37px !important;
}

.header-mid-checkout{
    display: flex;
    border: 1px solid var(--color-gray-line);
    align-items: center;
    padding: 0.2rem .5rem;
    position: relative;
}
.header-mid-checkout p{
    font-size: .9rem;
}
.verticleDivider{
    border-left: 1px solid var(--color-gray-line);
    height: 1.5rem;
    margin: .5rem 1rem;
}
.checkout-icon{
    font-size: 1.5rem;
    color: var(--color-red);
}
.checkout-items{
    border: 1px solid var(--color-red);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: var(--color-red);
    font-size: .7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 70%;
    left: -5%;
}
    
.checkout-items span{
    color: #fff;
}
.header-items{
    display: flex;
    list-style: none;
    gap: 3.5rem;
    text-transform: uppercase;
}

.check-out, .search-bar, .hameburgar{
    cursor: pointer;
    font-size: 1.5rem;
}


.shop:hover .main-header-dropdown{
    display: flex;
}
