:root{
  --color-gray-line: #ccc;
  --color-red : #DF2121;
  --color-dark-gray : #242424;
}


*{
  margin: 0;
  line-height: calc(1em + .5rem);
}

html{
  scroll-behavior: smooth;
}
body{
  font-family: "General Sans", sans-serif;
}

img, 
picture,
video,
svg,
canvas{
  display: block;
  max-width: 100%;
  user-select: none;
}

button{
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}